.about-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 4rem 2.5rem;
    background-color: $grayColor;
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $maxSectionWidth;
        width: 100%;
        height: 100%;
        .about-header{
            top:0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            height: 100%;
            text-align: center;
            .about-header__title{
                font-size: 32px;
                color: $whiteColor;
            }
            .about-header__description{
                font-size: 18px;
                color: $blackColor;
            }
        }
        .about-cards{
            height: 100%;
            width: 100%;
            display: flex;
            z-index: 1;
            justify-content: center;
            align-items: center;
            .card{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .card-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    .card-item__title{
                        font-size: 32px;
                        font-weight: 400;
                        color: $secondaryColor;
                    }
                    .card-item__description{
                        font-size: 24px;
                        text-align: center;
                        padding: 0 30px;
                        color: rgba($color: $blackColor, $alpha: 5.0);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .about-section{
        padding: 0;
        .about-container{
            .about-header{
                width: 80%;
                .about-header__title{
                    font-size: 24px;
                }
                .about-header__description{
                    font-size: 12px;
                }
            }
            .about-cards{
                .card{
                    flex-direction: column;
                    .card-item{
                        .card-item__title{
                            font-size: 24px;
                        }
                        .card-item__description{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}