.about-us-container {
    @include section;
    background-color: white;
    height: 655px;
    padding-left: 0;
    position: relative;
    border-bottom: 3px solid $primaryColor;
    .section {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        .scroll {
            height: 10%;
        }
        .about-us {
            display: flex;
            .about-us__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                clip-path: $rigthImage;
            }
            .about-us-info {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 500px;
                    .about-us__title {
                        @include sectionTitle;
                    }
                    .about-us__text {
                        color: $descriptionColor;
                        font-size: 20px;
                        max-width: 800px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .about-us-container {
        height: 100%;
        box-sizing: border-box;
        .section {
            .scroll {
                top: 120px
            }
            .about-us {
                height: 100%;
                flex-direction: column;
                min-width: 100%;
                .about-us__image {
                    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
                    height: 300px;
                }
                .about-us-info {
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 20px;
                        box-sizing: border-box;
                        .about-us__text {
                            font-size: 15px;
                            width: 100%;
                            max-width: 800px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}