.contact-container {
    @include section;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: $textColor;
    position: relative;
    z-index: 3;
    .section {
        max-width: $maxSectionWidth;
        width: 100%;
        padding-top: 20px;
        .scroll {
            z-index: -1;
            left: 0;
            top: -400px
        }
        .contact__title {
            @include sectionTitle;
            color: white;
            margin: 0;
        }
        .contact-info {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 100px;
            .subtitle {
                color: $primaryColor;
            }
            .social-media {
                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    list-style: none;
                    padding: 0;
                    .list__link {
                        text-decoration: none;
                        .list__item {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            color: black;
                            .list__image {
                                width: 40px;
                                height: 100%;
                                transition: transform .25s ease;
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                            .list__name {
                                color: white;
                                &:hover {
                                    color: $opacityPrimaryColor;
                                }
                            }
                        }
                    }
                }
            }
            .opening-hours {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .contact {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .map {
                border:0;
                box-shadow: 0 0 10px .1px black;
                border-radius: 10px;
                width: 513px;
                height: 200px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
    .contact-container {
        padding: 0 6vw;
        box-sizing: border-box;
        .section {
            .scroll {
                top: -120px
            }
            .contact-info-container {
                .contact-info {
                    gap: 40px;
                    column-gap: 10vw;
                    .subtitle {
                        text-align: center;
                    }
                    .social-media {
                        .list {
                            margin: 0;
                        }
                    }
                    .map-container {
                        display: flex;
                        justify-content: center;
                        margin: 20px 0;
                        margin-bottom: 40px;
                        width: 100%;
                        .map {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}