$primaryColor: #0a1947;
$secondaryColor: #DA6F5F;
$blackColor: #616270;
$whiteColor: #fff;
$grayColor: #191c22;

$maxSectionWidth: 1400px;

@font-face {
    src: url("./fonts/Merriweather-Regular.ttf") format("truetype"); 
    font-family: "Merriweather";
}