$primaryColor: #0a1947;
$secondaryColor: #DA6F5F;
$blackColor: #454655;
$whiteColor: #fff;

$maxSectionWidth: 1400px;

@font-face {
    src: url("./fonts/Merriweather-Regular.ttf") format("truetype"); 
    font-family: "Merriweather";
}