$primaryColor: purple;
$secondaryColor: white;
$fontSize: 14px;
$fontWeight: 400;

html {
    box-sizing: border-box;
    height: 100vh;
    &*, *::before, *::after {
        box-sizing: inherit;
    }
    body {
        margin: 0;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
        font-size: $fontSize;
        font-weight: $fontWeight;
        background-color: black;
        
        #root {
            height: 100%;
        }
        .app-container {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            height: min-content;
            position: relative;
        }
    }
}

//sections
@import "./sections/navbar";
@import "./sections/home";

//components