@font-face {
  src: url("./fonts/Merriweather-Regular.ttf") format("truetype");
  font-family: "Merriweather";
}

html {
  height: 100%;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
}

html body #root {
  width: 100%;
}

html body .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

html body .app .scroll {
  top: 0;
  height: 300px;
  position: absolute;
  width: 100%;
}

.navbar-section {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 64px;
  z-index: 4;
}

.navbar-section .navbar-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-section .navbar-container .hambu {
  display: none;
}

.navbar-section .navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  color: #616270;
}

.navbar-section .navbar-container .navbar .navbar-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-weight: 700;
}

.navbar-section .navbar-container .navbar .navbar-list .navbar-list__link {
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-section .navbar-container .navbar .navbar-list .navbar-list__link.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #DA6F5F;
}

.navbar-section .navbar-container .navbar .navbar-list .navbar-list__link .navbar-list__item {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-section .navbar-container .navbar .navbar-list .navbar-list__link .navbar-list__item:hover {
  color: #DA6F5F;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .navbar-section {
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .navbar-section .navbar-container {
    width: 100%;
    height: 100%;
  }
  .navbar-section .navbar-container .navbar {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #191c22;
  }
  .navbar-section .navbar-container .navbar .hambu {
    border: none;
    color: #DA6F5F;
    background-color: transparent;
    height: 64px;
    width: 64px;
    display: block;
    font-size: 24px;
  }
  .navbar-section .navbar-container .navbar .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #616270;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar-section .navbar-container .navbar .navbar-list .navbar-list__link {
    padding: 10px;
  }
  .navbar-section .navbar-container .navbar .navbar-list .navbar-list__link.active {
    background-color: #616270;
  }
  .navbar-section .navbar-container .navbar .navbar-list.active {
    display: none;
  }
}

.footer-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 30px 0;
  background-color: #191c22;
}

.footer-section .footer-container {
  max-width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section .footer-container .footer-about {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .footer-container .footer-about .footer-about__title {
  font-size: 20px;
  color: #fff;
}

.footer-section .footer-container .footer-about .footer-about__description {
  width: 70%;
  color: #616270;
}

.footer-section .footer-container .footer-followus {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .footer-container .footer-followus .footer-followus_title {
  font-size: 20px;
  color: #fff;
}

.footer-section .footer-container .footer-followus .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

.footer-section .footer-container .footer-followus .footer-list .footer-list__item {
  border-image-width: 100%;
  height: 100%;
}

.footer-section .footer-container .footer-followus .footer-list .footer-list__item .footer-list__link {
  color: #DA6F5F;
  font-size: 26px;
  text-decoration: none;
}

.footer-section .footer-container .footer-followus .footer-list .footer-list__item .footer-list__link:hover {
  color: #fff;
}

.footer-section .footer-container .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  width: 100%;
  height: 100%;
}

.footer-section .footer-container .footer-copyright .footer-copyright__text {
  color: #616270;
  font-size: 16px;
}

.footer-section .footer-container .footer-copyright .footer-copyright__text .secondary {
  color: #DA6F5F;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .footer-section .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-container .footer-about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-section .footer-container .footer-followus .footer-list {
    width: 350px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-section .footer-container .footer-copyright {
    text-align: center;
  }
}

.intro-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.intro-section .intro-container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.intro-section .intro-container .intro-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.intro-section .intro-container .intro-left .intro__title {
  width: 400px;
  font-size: 58px;
  color: #fff;
}

.intro-section .intro-container .intro-left .intro__text {
  width: 400px;
  font-size: 24px;
  color: #616270;
  margin-bottom: 24px;
}

.intro-section .intro-container .intro-left .intro__button {
  width: 200px;
  height: 50px;
  border: 2px solid #DA6F5F;
  border-radius: 4px;
  background-color: transparent;
  color: #DA6F5F;
  font-size: 18px;
  cursor: pointer;
}

.intro-section .intro-container .intro-left .intro__button:hover {
  background-color: #DA6F5F;
  color: #fff;
}

.intro-section .intro-gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.intro-section .intro-gallery .gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
  width: 100%;
  height: 100%;
}

.intro-section .intro-gallery .gallery .gallery__item {
  display: inline;
}

.intro-section .intro-gallery .gallery .gallery__item .gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .intro-section .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-section .intro-container .intro-left {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-section .intro-container .intro-left .intro__title {
    color: #fff;
    width: 100%;
  }
  .intro-section .intro-container .intro-left .intro__text {
    width: 100%;
  }
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #191c22;
}

.about-section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 100px 0 0 0;
}

.about-section .about-container .about-header {
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.about-section .about-container .about-header .about-header__title {
  font-size: 32px;
  color: #fff;
}

.about-section .about-container .about-header .about-header__description {
  font-size: 18px;
  color: #616270;
}

.about-section .about-container .about-cards {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-container .about-cards .card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-container .about-cards .card .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  width: 100%;
  height: 100%;
}

.about-section .about-container .about-cards .card .card-item .card__image {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section .about-container .about-cards .card .card-item .card-item__title {
  font-size: 32px;
  font-weight: 400;
  color: #DA6F5F;
}

.about-section .about-container .about-cards .card .card-item .card-item__description {
  font-size: 24px;
  text-align: center;
  color: #616270;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .about-section {
    padding: 20px 0;
  }
  .about-section .about-container .about-header {
    width: 80%;
  }
  .about-section .about-container .about-header .about-header__title {
    font-size: 24px;
  }
  .about-section .about-container .about-header .about-header__description {
    font-size: 12px;
  }
  .about-section .about-container .about-cards .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .about-container .about-cards .card .card-item .card-item__title {
    font-size: 24px;
  }
  .about-section .about-container .about-cards .card .card-item .card-item__description {
    font-size: 14px;
  }
}

.membership-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0) url(../assets/gallery/image4.jpg) no-repeat fixed center center/cover;
}

.membership-section .membership-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  width: 100%;
  height: 100%;
}

.membership-section .membership-container .membership-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.membership-section .membership-container .membership-header .membership-header__title {
  font-size: 64px;
  color: #DA6F5F;
}

.membership-section .membership-container .membership-header .membership-header__description {
  font-size: 24px;
  color: #fff;
}

.membership-section .membership-container .membership-cards {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.membership-section .membership-container .membership-cards .membership-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  min-height: 300px;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
  background: #191c22;
  margin: 16px;
  padding: 32px 32px;
  -webkit-transition: background .45s ease, -webkit-transform .45s ease;
  transition: background .45s ease, -webkit-transform .45s ease;
  transition: transform .45s ease, background .45s ease;
  transition: transform .45s ease, background .45s ease, -webkit-transform .45s ease;
}

.membership-section .membership-container .membership-cards .membership-card:hover {
  background-color: #0a1947;
  color: #fff;
  cursor: pointer;
}

.membership-section .membership-container .membership-cards .membership-card:hover .membership-card__price {
  color: #fff;
}

.membership-section .membership-container .membership-cards .membership-card:hover .membership-card__title {
  color: #fff;
}

.membership-section .membership-container .membership-cards .membership-card:hover .membership-card__description {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.membership-section .membership-container .membership-cards .membership-card .membership-card__price {
  color: #616270;
  font-size: 58px;
  font-weight: 600;
  padding-bottom: 10px;
  margin: 0 0 10px;
  border-bottom: 2px solid #DA6F5F;
  -webkit-transition: color .45s ease, border .45s ease;
  transition: color .45s ease, border .45s ease;
}

.membership-section .membership-container .membership-cards .membership-card .membership-card__title {
  color: #DA6F5F;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 16px;
  -webkit-transition: color .45s ease;
  transition: color .45s ease;
}

.membership-section .membership-container .membership-cards .membership-card .membership-card__description {
  opacity: 0;
  color: #FFFFFF;
  font-size: 24px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity .45s ease, -webkit-transform .5s ease;
  transition: opacity .45s ease, -webkit-transform .5s ease;
  transition: opacity .45s ease, transform .5s ease;
  transition: opacity .45s ease, transform .5s ease, -webkit-transform .5s ease;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .membership-section {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0) url(../assets/gallery/image4.jpg) no-repeat fixed center center/cover;
    background: rgba(0, 0, 0, 0) url(../assets/gallery/image4.jpg) no-repeat fixed center center/cover;
  }
  .membership-section .membership-container {
    padding: 20px 0;
  }
  .membership-section .membership-container .membership-header {
    width: 100%;
  }
  .membership-section .membership-container .membership-header .membership-header__title {
    font-size: 36px;
  }
  .membership-section .membership-container .membership-header .membership-header__description {
    font-size: 14px;
  }
  .membership-section .membership-container .membership-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    gap: 40px;
  }
  .membership-section .membership-container .membership-cards .membership-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
    min-height: 200px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .membership-section .membership-container .membership-cards .membership-card .membership-card__price {
    font-size: 42px;
    margin: 0;
    padding: 10px;
    -webkit-transition: color .45s ease, border .45s ease;
    transition: color .45s ease, border .45s ease;
  }
  .membership-section .membership-container .membership-cards .membership-card .membership-card__title {
    margin: 0;
    padding: 10px;
    -webkit-transition: color .45s ease;
    transition: color .45s ease;
  }
  .membership-section .membership-container .membership-cards .membership-card .membership-card__description {
    opacity: 0;
    font-size: 20px;
  }
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: 100vh;
}

.contact-section .contact-map {
  width: 100%;
  height: 100%;
}

.contact-section .contact-map .map {
  width: 100%;
  height: 100%;
}

.contact-section .contact-container {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 50% 0, 60% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 60% 100%, 0 100%);
  background-color: rgba(10, 25, 71, 0.9);
}

.contact-section .contact-container .contact-form {
  max-width: 1400px;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-container .contact-form .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-header .contact-form-header__title {
  font-size: 48px;
  color: #fff;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 20%;
  height: 100%;
  padding: 20px 0;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item .contact-form-item__label {
  color: #fff;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item .contact-form-item__input {
  width: 360px;
  background: transparent;
  color: #fff;
  width: 100%;
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid #DA6F5F;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item .contact-form-item__input:focus {
  outline: none;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item .contact-form-item__textarea {
  height: 100px;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item .contact-form-btn {
  width: 200px;
  height: 50px;
  border: 2px solid #DA6F5F;
  border-radius: 4px;
  background-color: transparent;
  color: #DA6F5F;
  font-size: 18px;
  cursor: pointer;
}

.contact-section .contact-container .contact-form .contact-form-container .contact-form-item .contact-form-btn:hover {
  background-color: #DA6F5F;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
  }
  .contact-section .contact-map {
    display: none;
  }
  .contact-section .contact-map .map {
    width: 100%;
    height: 100%;
  }
  .contact-section .contact-container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    position: relative;
    -webkit-clip-path: none;
            clip-path: none;
    padding: 100px 0;
    background-color: #0a1947;
  }
  .contact-section .contact-container .contact-form {
    width: 100%;
  }
  .contact-section .contact-container .contact-form .contact-form-container {
    width: 100%;
  }
  .contact-section .contact-container .contact-form .contact-form-container .contact-form-item {
    width: 50%;
  }
}
/*# sourceMappingURL=index.css.map */